dist/
dist_restore/
release/
WinUI3/bin/
WinUI3/obj/
.vs/
*.user
*.suo
config.ini
startup.log
*.bak
*.log
cat42770*.html
CategoryContents.js
Generic.js
SB_CategoryContents.js
SB_common.js
english_l_strings.txt
